*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.signup_center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.x_logo_signup{
  width: 100px;
  height: 100px;
}

.create_account_word{
  color: white;
  font-size: 23px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px 20px 0px;
}

.signup_google{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 550;
  margin: 10px 0px 10px 0px;
}

.or_divider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  margin: 5px 0px 5px 0px;
}

.greyline_signup{
  width: 100%;
  height: 1px;
  background-color: #71767B;
  margin:0px 10px;
}

.or_word{
    color: #71767B;
    font-size:15px;
    font-weight: 500;
}

.create_account_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 550;
  margin: 10px 0px 20px 0px;
}

.terms_condition{
  color: #71767B;
  font-size: 11px;
  font-weight: 500;
  width: 300px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.have_an_account{
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  width: 300px;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.signin_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  color: rgb(0, 157, 255);
  font-size: 15px;
  font-weight: 550;
  margin: 10px 0px 20px 0px;
}

.blue_word{
  color: rgb(0, 157, 255);
}